services:
  server:
    image: bakabooru/server:latest
    depends_on:
      - sql
    environment:
      POSTGRES_HOST: sql
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
      POSTGRES_PORT: 5432
    volumes:
      - "DATA_PATH:/data"
      - "THUMBNAILS_PATH:/data/generated-thumbnails"
      - "./config.toml:/opt/app/config.toml"
    stop_signal: SIGINT

  client:
    build: .
    depends_on:
      - server
    environment:
      - BACKEND_HOST=server
      - BACKEND_PORT=6666
    volumes:
      - "DATA_PATH:/data"
      - "THUMBNAILS_PATH:/data/generated-thumbnails:ro"
    ports:
      - "8080:80"

  sql:
    image: postgres:16-alpine
    restart: unless-stopped
    environment:
      POSTGRES_USER:
      POSTGRES_PASSWORD:
      POSTGRES_DB:
    volumes:
      - "SQL_PATH:/var/lib/postgresql/data"
